.jumbotron {
    height: 720px;
    text-align: center;
}

#premium {
    margin-right: 5px;
}

#free {
    margin-left: 5px;
}

.form-control {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.jumbotron {
    background-image: url(./jumbo_image.png);
    background-size: cover;
}